body {
  display: flex;
  justify-content: center;
  margin: 0px 20px;
}

.left-side {
  width: 33%;
  height: 500px;
  background-image: url(teemu-paananen-OOE4xAnBhKo-unsplash.jpg);
  background-size: cover;
  margin-right: 30px;
}

.form-container {
  width: 67%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  opacity: 0.65;
  border: none;
  background-color: green;
  margin-top: 50px;
}

#image {
  width: 80px;
  object-fit: cover;
}

.image-text {
  color: white;
  font: 40px bold;
}

.inputs {
  display: flex;
  flex-direction: column;
}
form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.form-title {
  font-size: 18px;
  margin-bottom: 5px;
}
.required {
  margin-bottom: 20px;
}
label {
  font-weight: 800;
}
#mismatch {
  font-size: 12px;
  color: red;
}
#submit-button {
  padding: 10px 20px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 800;
  background-color: green;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input:invalid:focus {
  box-shadow: 0 0 5pt 2pt red;
}

input:valid:focus {
  box-shadow: 0 0 5pt 2pt green;
}
